
:global { 
  #workbenchPageContent, .CanvasComponent.LCS .CanvasZone { 
    max-width: 100% !important; 
  } }

*{
  padding: 0;
  margin: 0;
 
}

.navbar {
 padding: 20px;

 color: #CAD5E2;
 background-color: #CAD5E2;

}

.nh1 {
  text-decoration: none;
}

.home{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.serchtab{ 
  padding: 10px;
  width: 400px;

}

.homebtn{ 
  padding: 10px;
  width: 200px;
  
}

.carddisplay{
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  display: flex;

  
}

.card{
  width: 350px;
  height: 300px;
 margin: 15px;
  border-style: solid;
  border-color: rgb(168, 167, 167);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.image{
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  margin-bottom: 30px;

}

.adduser{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 500px;
  margin-left: 300px;
}

.addimage{
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  flex-direction: column;
  margin-bottom: 100px;
}

.adddetails{
  width: 66%;
}

input{
  padding: 10px;
  border-radius: 12px;
  margin: 5px;
  
}

.addbtn{
  padding: 10px 15px;
  border-radius: 15%;
  margin-left: 30px;
  margin-top: 10px;
}

.btn{
  background: red;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 14px;
  border: none;
}

.updatebtn{
  background: rgb(74, 81, 218);
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 14px;
  border: none;
}
